.large-hero{
  position: relative;
  color: palevioletred;
  &__text-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }
 
  &__title{
    color: $mainColor;
    font-weight: 300;
    margin: 0;
    font-size: 2rem;
    @mixin smallUp {
      font-size: 3rem;
    }
    @mixin mediumUp {
      font-size: 4rem;
    }
    @mixin largeUp {
      font-size: 5rem;
    }
  }
  &__subtitle{
    color: $mainColor;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0 ;
    @mixin smallUp {
      font-size: 2.8rem;
    }
  }
  &__description{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.158);
    max-width: 30rem;
    margin: 0 auto;
  }
}
